@model D_Library.Models.Model.BookTagsModel

<link href="~/Content/Plugins/jQuery.Select2/select2.min.css" rel="stylesheet" />
<link href="~/Content/Plugins/jQuery.Select2/select2-bootstrap.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    <div class="form-group" style="padding-left:15px;padding-right:15px">
        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "" })

        @Html.ListBoxFor(model => model.Tags ,new SelectList(Model.TagCollection, "Tag_ID", "Tag_Name"),new { @class= " tags", multiple = "multiple" })

        @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="">
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right " type="submit" name="btn-Delete">تایید</button>

    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/Plugins/jQuery.Select2/select2.js"></script>
<script src="~/Scripts/Plugins/jQuery.Select2/i18n/fa.js"></script>

<script>

    $(".tags").select2({
        tags: true,
        language: "fa",
        dir: "rtl",
        placeholder: 'برچسب',
        ajax: {
            url: '/Book/Get_AllTagList',
            dataType: "json",
            data: function (params) {
                return {
                    searchTerm: params.term
                };
            },
            processResults: function (data, params) {
                return {
                    results: data
                };
            }
        }

    })
</script>