@model D_Library.Models.Model.BookNewModel
@using D_Library.Models.Repository
@{
    /**/

    ViewBag.Title = "کتاب جدید";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">
    @using (Html.BeginForm("BookNew", "Book", FormMethod.Post, htmlAttributes: new { @class = "panel-info form-form form-form-indasdboard", @style = "max-width:870px;" }))
    {

        @Html.AntiForgeryToken()
        <div class=" form-heading  text-center">
            تعریف کتاب جدید
        </div>

        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Book.Book_Code, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Book.Book_Code, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Book.Book_Code, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book.Book_Name, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Book.Book_Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Book.Book_Name, "", new { @class = "text-danger" })
            </div>


            @*<div class="form-group material-switch-body">
                    <label class="pull-left">نمایش در جستجو میهمان ها</label>
                    <div class="material-switch pull-right">
                        @Html.CheckBoxFor(model => model.Book.Book_GuestSearchEnabel, htmlAttributes: new { @class = " " })
                        @Html.LabelFor(model => model.Book.Book_GuestSearchEnabel, htmlAttributes: new { @class = "label-success" })


                    </div>
                </div>*@


            <div class="form-group material-switch-body">
                <label class="pull-left">نسخه دیجتال دارد</label>
                <div class="material-switch pull-right">
                    @Html.CheckBoxFor(model => model.Details.BD_DigitalVersionAvailable, htmlAttributes: new { @class = " " })
                    @Html.LabelFor(model => model.Details.BD_DigitalVersionAvailable, htmlAttributes: new { @class = "label-success" })
                </div>
            </div>

            <div class="form-group material-switch-body">
                <label class="pull-left">نسخه فیزیکی دارد</label>
                <div class="material-switch pull-right PVA">
                    @Html.CheckBoxFor(model => model.Details.BD_PhysicalVersionAvailable, htmlAttributes: new { @class = " " })
                    @Html.LabelFor(model => model.Details.BD_PhysicalVersionAvailable, htmlAttributes: new { @class = "label-success" })

                </div>
            </div>



            <div id="PVA" class="form-group " style="display:none">
                @Html.LabelFor(model => Model.Details.BD_LibraryID, htmlAttributes: new { @class = "" })
                @{
                    Rep_Library brr = new Rep_Library();
                    @Html.DropDownListFor(model => Model.Details.BD_BranchID, brr.Get_AllLibrarySelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                }
            </div>


            <div class="form-group ">
                @Html.LabelFor(model => Model.Details.BD_LanguageID, htmlAttributes: new { @class = "" })
                @{
                    Rep_Language lan = new Rep_Language();
                    @Html.DropDownListFor(model => Model.Details.BD_LanguageID, lan.Get_AllLanguageSelectList(), htmlAttributes: new { @class = "form-control Select2_Normal  text-center" });
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details.BD_PageCount, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Details.BD_PageCount, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Details.BD_PageCount, "", new { @class = "text-danger" })
            </div>

            @{
                foreach (var item in Model.DetailsNav)
                {
                    switch (item)
                    {
                        case "Titel":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Titel, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Titel, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Titel, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Abstract":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Abstract, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Details.BD_Abstract, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Abstract, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Student":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_StudentID, htmlAttributes: new { @class = "" })
                                <select name="Details.BD_StudentID" id="Details_BD_StudentID" class="form-control student text-center"></select>
                                @Html.ValidationMessageFor(model => model.Details.BD_MasterID, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Master":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_MasterID, htmlAttributes: new { @class = "" })
                                <select name="Details.BD_MasterID" id="Details_BD_MasterID" class="form-control master text-center"></select>
                                @Html.ValidationMessageFor(model => model.Details.BD_MasterID, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "ISBN":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_ISBN, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_ISBN, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_ISBN, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Group":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_GroupID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_GroupBranch gp = new Rep_GroupBranch();

                                    if (!Model.DetailsNav.Exists(a => a == "Branch"))
                                    {
                                        @Html.DropDownListFor(model => Model.Details.BD_GroupID, gp.Get_AllGroupSelectList(), htmlAttributes: new { @class = "form-control Select2_Normal  text-center" });
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => Model.Details.BD_GroupID, gp.Get_AllGroupSelectList(), htmlAttributes: new { @class = "form-control group Select2_Normal  text-center" });

                                    }

                                }


                            </div>
                            break;
                        case "Branch":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_BranchID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_GroupBranch br = new Rep_GroupBranch();

                                    if (!Model.DetailsNav.Exists(a => a == "Group"))
                                    {
                                        @Html.DropDownListFor(model => Model.Details.BD_BranchID, br.Get_AllBranchSelectList(), htmlAttributes: new { @class = "form-control Select2_Normal  text-center" });
                                    }
                                    else
                                    {
                                        <select name="Branch" class="branch Select2_Normal form-control"></select>

                                        @Html.ValidationMessageFor(model => model.Details.BD_BranchID, "", new { @class = " text-danger" })
                                    }

                                }

                            </div>
                            break;
                        case "Publishers":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Publishers, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Publishers, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Publishers, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Subject":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Subject, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Subject, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Subject, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Description":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Description, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Details.BD_Description, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Description, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "WriterName":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_WriterName, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_WriterName, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_WriterName, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "ReleaseCount":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_ReleaseCount, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_ReleaseCount, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_ReleaseCount, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Translator":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Translator, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Translator, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Translator, "", new { @class = "text-danger" })
                            </div>
                            break;


                        default:
                            break;
                    }
                }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "" })

                <select name="Tag" class="form-control tags select2-tags" multiple="multiple"></select>

                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            </div>

        </div>

        <button class="btn btn-success  AddNewUser-button" type="submit" name="btn-BuildCode" style="margin-bottom:50px;">تایید</button>

    }

</section>

<script>

    $(".tags").select2({
        tags: true,
        language: "fa",
        dir: "rtl",
        placeholder: 'برچسب',
        ajax: {
            url: '/Book/Get_AllTagList',
            dataType: "json",
            data: function (params) {
                return {
                    searchTerm: params.term
                };
            },
            processResults: function (data, params) {
                return {
                    results: data
                };
            }
        }

    })

    $(".group").on("change", function () {
        var GroupID = document.getElementById("Details_BD_GroupID").value;
        console.log(GroupID);
        $.ajax({
            url: "/User/Get_BranchList?GroupID=" + GroupID,
            dataType: 'json',
            type: 'post',
            success: function (data) {
                $(".branch").empty();
                $.each(data, function (index, row) {
                    $(".branch").append("<option value='" + row.id + "'>" + row.text + "</option>")
                });
            }
        })
    });

    $(".group").ready(function () {
        var GroupID = document.getElementById("Details_BD_GroupID").value;
        console.log(GroupID);
        $.ajax({
            url: "/User/Get_BranchList?GroupID=" + GroupID,
            dataType: 'json',
            type: 'post',
            success: function (data) {
                $(".branch").empty();
                $.each(data, function (index, row) {
                    $(".branch").append("<option value='" + row.id + "'>" + row.text + "</option>")
                });
            }
        })
    });

    $(".master").ready(function () {
        $("#Details_BD_MasterID").select2({
            theme: "bootstrap",
            language: "fa",
            dir: "rtl",
            minimumResultsForSearch: 6,
            placeholder: 'انتخاب کنید',
            ajax: {
                url: '/User/Get_AllProfessorList',
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                }
            }
        });
    });

    $(".student").ready(function () {
        $("#Details_BD_StudentID").select2({
            theme: "bootstrap",
            language: "fa",
            dir: "rtl",
            tokenSeparators: [',', ' '],
            minimumResultsForSearch: 6,
            placeholder: 'انتخاب کنید',
            ajax: {
                url: '/User/Get_AllStudentList',
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                }
            }
        });
    });

    $(".PVA").click(function () {

        var checkBox = document.getElementById("Details_BD_PhysicalVersionAvailable");

        var text = document.getElementById("PVA");

        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    });


    $(".PVA").ready(function () {

        var checkBox = document.getElementById("Details_BD_PhysicalVersionAvailable");

        var text = document.getElementById("PVA");

        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    });


    $(function () {
        $("input[type='hidden']").remove();
    });
</script>
