@model D_Library.Models.Model.BookShowModel
@using D_Library.Models.Repository;

@{
    ViewBag.Title = "BookShow";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section class=" container-fluid main-section ">

    <div class="panel bookshow-cover">
        <div class="row">
            <div class="col-md-2" style="">
                <img src="~/Content/Images/arm.png" class="img-responsive img-rounded bookshow-img" />

            </div>
            <div class="col-md-10">
                <div class="pull-right bookshow-flag-zone">
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                </div>
                <div class="pull-left bookshow-titel-zone ">
                    <h2 class="bookshow-titel">@Model.Book.Book_Name</h2>
                    <p class="bookshow-sub-titel">
                        @{
                            Rep_Book B = new Rep_Book();
                            string type = B.Get_BookTypeNameByID(Model.Book.Book_BookTypeID);
                        }
                        @type
                    </p>
                    <p class="bookshow-sub-titel">
                        @Model.Book.Book_Code
                    </p>

                </div>

            </div>
        </div>

    </div>
    <div class="panel bookshow-panel">
        <ul class=" nav nav-tabs nav-justified bookshow-panel-tabs">

            @{
                if (Model.DetailsNav.Exists(a => a == "Abstract") || Model.DetailsNav.Exists(a => a == "Description"))
                {
                    <li class="active"><a href="#Description" data-toggle="tab">شرح</a></li>
                }

                <li><a href="#Details" data-toggle="tab">مشخصات</a></li>

                <li><a href="#Files" data-toggle="tab">فایل</a></li>
            }

            <li><a href="#Setting" data-toggle="tab">تنظیمات</a></li>

        </ul>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="Description">
                    <div class="panel-group" id="gp">
                        @{
                            if (Model.DetailsNav.Exists(a => a == "Description"))
                            {
                                <div class="panel bookshow-dis-panel">

                                    <a href="#Descrip" data-parent="#gp" data-toggle="collapse">
                                        <div class="panel-heading bookshow-dis-panel-heading">
                                            <h4 class="panel-title bookshow-dis-titel">
                                                @Html.DisplayNameFor(model => model.Details.BD_Description)
                                            </h4>
                                        </div>
                                    </a>

                                    <div id="Descrip" class="panel-collapse collapse in">
                                        <div class="panel-body bookshow-dis-panel-body">
                                            @Html.Raw(Model.Details.BD_Description)
                                        </div>

                                    </div>

                                </div>
                            }

                            if (Model.DetailsNav.Exists(a => a == "Abstract"))
                            {
                                <div class="panel bookshow-dis-panel">

                                    <a href="#Abstract" data-parent="#gp" data-toggle="collapse">
                                        <div class="panel-heading bookshow-dis-panel-heading">
                                            <h4 class="panel-title  bookshow-dis-titel">
                                                @Html.DisplayNameFor(model => model.Details.BD_Abstract)
                                            </h4>
                                        </div>
                                    </a>

                                    <div id="Abstract" class="panel-collapse collapse">
                                        <div class="panel-body bookshow-dis-panel-body">
                                            @Html.Raw(Model.Details.BD_Abstract)
                                        </div>

                                    </div>

                                </div>
                            }

                        }


                    </div>
                </div>

                <div class="tab-pane fade" id="Details">

                    <div class="bookshow-detiles">

                        @{
                            foreach (var item in Model.DetailsNav)
                            {
                                switch (item)
                                {
                                    case "Student":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_StudentID)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @{
                                                            D_Library.Models.UserManagement.Membership MS = new D_Library.Models.UserManagement.Membership();

                                                            string student = MS.Get_FullNameByID(Model.Details.BD_StudentID.Value);
                                                        }

                                                        @student
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "Master":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_MasterID)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @{
                                                            D_Library.Models.UserManagement.Membership MM = new D_Library.Models.UserManagement.Membership();

                                                            string master = MM.Get_FullNameByID(Model.Details.BD_MasterID.Value);
                                                        }

                                                        @master
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        break;
                                    case "ISBN":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_ISBN)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayFor(model => model.Details.BD_ISBN)

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "Group":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_GroupID)

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @{
                                                            Rep_GroupBranch G = new Rep_GroupBranch();
                                                            string g_name = G.Get_GroupNameByID(Model.Details.BD_GroupID.Value);
                                                        }
                                                        @g_name
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "Branch":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_BranchID)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @{
                                                            Rep_GroupBranch R = new Rep_GroupBranch();
                                                            string R_name = R.Get_BranchNameByID(Model.Details.BD_BranchID.Value);
                                                        }
                                                        @R_name
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;

                                    case "Subject":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_Subject)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">fuck</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;

                                    case "WriterName":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_WriterName)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayFor(model => model.Details.BD_WriterName)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "ReleaseCount":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_ReleaseCount)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayFor(model => model.Details.BD_ReleaseCount)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "Translator":
                                        <div class="row bookshow-detiles-item">
                                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                                <div class="panel bookshow-detiles-col-3 ">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayNameFor(model => model.Details.BD_Translator)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel bookshow-detiles-col-9">
                                                    <span class="bookshow-detiles-text">
                                                        @Html.DisplayFor(model => model.Details.BD_Translator)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        break;

                                    default:

                                        break;
                                }
                            }
                        }
                        @if (Model.Tags.Count > 0)
                        {
                            <div class="row bookshow-detiles-item">
                                <div class="col-md-3 bookshow-detiles-col-3-main">
                                    <div class="panel bookshow-detiles-col-3 ">
                                        <span class="bookshow-detiles-text">
                                            برچسب
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="panel bookshow-detiles-col-9-tags">
                                        <div class="bookshow-detiles-tags-locat">

                                            @foreach (var item in Model.Tags)
                                            {
                                                <div class="bookshow-detiles-tag">@item</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>



                <div class="tab-pane fade" id="Files">
                    @if (Model.Details.BD_FileEnabel)
                    {
                        if (Model.Files.Count() > 0)
                        {
                            foreach (var item in Model.Files)
                            {
                                <div class="bookshow-download">
                                    <div class="row">
                                        <div class="col-md-9 panel bookshow-download-detail">
                                            <i class="glyphicon glyphicon-file pull-left  hidden-sm hidden-xs"></i>
                                            <h5>@item.File_Name</h5>
                                            <p>@item.Tbl_User.User_Name</p>
                                        </div>

                                        <div class="col-md-3 panel bookshow-download-btn">
                                            <div>
                                                <a asp- class="btn btn-info  glyphicon glyphicon-cloud-download" href="@Url.Action("Download","FileManager", new { Key = item.File_DownloadKey })"></a>
                                                <a class="btn btn-danger  glyphicon glyphicon-trash" onclick="DeleteFile(@item.File_ID)"> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="well text-center" style="background-color:#222d32; border-color:#222d32">
                                <b>فایلی برای نمایش نیست</b>
                            </div>
                        }



                    }
                    else
                    {
                        <div class="well text-center" style="background-color:#222d32; border-color:#222d32">
                            <b>فایلی برای نمایش نیست</b>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="Setting">

                    <div class="panel setting-col" style="line-height:40px;">
                        <div class="pull-left setting-col-titel">
                            <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                            ویرایش کتاب
                        </div>

                        <div class="pull-right ">
                            <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" href="@Url.Action("BookEdit","Book", new { id = Model.Book.Book_ID })"> </a>
                        </div>
                    </div>

                    <div class="panel setting-col" style="line-height:40px;">
                        <div class="pull-left setting-col-titel">
                            <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                            ویرایش برچسب  
                        </div>

                        <div class="pull-right ">
                            <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" onclick="BookTagEdit(@Model.Book.Book_ID)"> </a>
                        </div>
                    </div>

                    <div class="panel setting-col" style="line-height:40px;">
                        <div class="pull-left setting-col-titel">
                            <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                            افزودن فایل
                        </div>

                        <div class="pull-right ">
                            <a class="btn btn-success btn-sm glyphicon glyphicon-plus" onclick="BookAddFile(@Model.Book.Book_ID)"> </a>
                        </div>
                    </div>

                    <div class="panel setting-col" style="line-height:40px;">
                        <div class="pull-left setting-col-titel">
                            <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                            انتشار
                        </div>

                        <div class="pull-right ">
                            @if (Model.Book.Book_Publish)
                            {
                                <a class="btn btn-success btn-sm glyphicon glyphicon-share" onclick="BookPublish(@Model.Book.Book_ID)"> </a>
                            }
                            else
                            {
                                <a class="btn btn-danger btn-sm glyphicon glyphicon-share" onclick="BookPublish(@Model.Book.Book_ID)"> </a>
                            }
                        </div>
                    </div>

                    <div class="panel setting-col" style="line-height:40px;">
                        <div class="pull-left setting-col-titel">
                            <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                            حذف کتاب
                        </div>

                        <div class="pull-right ">
                            <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" onclick="BookDelete(@Model.Book.Book_ID)"> </a>
                        </div>
                    </div>




                </div>


            </div>
        </div>

    </div>

</section>

@Html.Partial("_Modal")


@section Modal{
    <script>

        function DeleteFile(id) {
            $.ajax({
                url: "/FileManager/DeleteFile/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حذف');
                $('#myModalBody').html(result);
            });
        }

        function BookDelete(id) {
            $.ajax({
                url: "/Book/BookDelete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حذف');
                $('#myModalBody').html(result);
            });
        }

        function BookAddFile(id) {
            $.ajax({
                url: "/Book/BookAddFile/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن');
                $('#myModalBody').html(result);
            });
        }
        
        function BookPublish(id) {
            $.ajax({
                url: "/Book/BookPublish/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('انتشار');
                $('#myModalBody').html(result);
            });
        }

        function BookTagEdit(id) {
            $.ajax({
                url: "/Book/BookTagEdit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش');
                $('#myModalBody').html(result);
            });
        }
        

    </script>
}