@model D_Library.Models.Model.NewBookModel
@using D_Library.Models.Repository
@{
    ViewBag.Title = "NewBook";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">
    @using (Html.BeginForm("NewBook", "Dashboard", FormMethod.Post, htmlAttributes: new { @class = "panel-info form-form form-form-indasdboard", @style = "max-width:990px;" }))
    {

        @Html.AntiForgeryToken()
        <div class=" form-heading  text-center">
            تعریف گروه جدید کتاب
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Book.Book_Code, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Book.Book_Code, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Book.Book_Code, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book.Book_Name, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Book.Book_Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Book.Book_Name, "", new { @class = "text-danger" })
            </div>


            <div class="form-group material-switch-body">
                <label class="pull-left">نمایش در جستجو میهمان ها</label>
                <div class="material-switch pull-right">
                    @Html.CheckBoxFor(model => model.Book.Book_GuestSearchEnabel, htmlAttributes: new { @class = " " })
                    @Html.LabelFor(model => model.Book.Book_GuestSearchEnabel, htmlAttributes: new { @class = "label-success" })


                </div>
            </div>


            <div class="form-group material-switch-body">
                <label class="pull-left">نسخه دیجتال دارد</label>
                <div class="material-switch pull-right">
                    @Html.CheckBoxFor(model => model.Details.BD_DigitalVersionAvailable, htmlAttributes: new { @class = " " })
                    @Html.LabelFor(model => model.Details.BD_DigitalVersionAvailable, htmlAttributes: new { @class = "label-success" })
                </div>
            </div>

            <div class="form-group material-switch-body">
                <label class="pull-left">نسخه فیزیکی دارد</label>
                <div class="material-switch pull-right">
                    @Html.CheckBoxFor(model => model.Details.BD_PhysicalVersionAvailable, htmlAttributes: new { @class = " " })
                    @Html.LabelFor(model => model.Details.BD_PhysicalVersionAvailable, htmlAttributes: new { @class = "label-success" })

                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(model => Model.Details.BD_LanguageID, htmlAttributes: new { @class = "" })
                @{
                    Rep_Language lan = new Rep_Language();
                    @Html.DropDownListFor(model => Model.Details.BD_LanguageID, lan.Get_AllLanguageSelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details.BD_PageCount, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.Details.BD_PageCount, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.Details.BD_PageCount, "", new { @class = "text-danger" })
            </div>

            @{
                foreach (var item in Model.DetailsNav)
                {
                    switch (item)
                    {
                        case "Titel":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Titel, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Titel, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Titel, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Abstract":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Abstract, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Details.BD_Abstract, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Abstract, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Student":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_StudentID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_Student _Student = new Rep_Student();
                                    @Html.DropDownListFor(model => Model.Details.BD_StudentID, _Student.Get_AllSelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                                }
                            </div>
                            break;
                        case "Master":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_MasterID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_Professor _Professor = new Rep_Professor();
                                    @Html.DropDownListFor(model => Model.Details.BD_MasterID, _Professor.Get_AllProfessorSelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                                }
                            </div>
                            break;
                        case "ISBN":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_ISBN, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_ISBN, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_ISBN, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Group":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_GroupID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_GroupBranch gp = new Rep_GroupBranch();
                                    @Html.DropDownListFor(model => Model.Details.BD_GroupID, gp.Get_AllGroupSelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                                }
                            </div>
                            break;
                        case "Branch":
                            <div class="form-group ">
                                @Html.LabelFor(model => Model.Details.BD_BranchID, htmlAttributes: new { @class = "" })
                                @{
                                    Rep_GroupBranch br = new Rep_GroupBranch();
                                    @Html.DropDownListFor(model => Model.Details.BD_BranchID, br.Get_AllBranchSelectList(), htmlAttributes: new { @class = "form-control chosen-select  text-center" });
                                }
                            </div>
                            break;
                        case "Publishers":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Publishers, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Publishers, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Publishers, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Subject":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Subject, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Subject, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Subject, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Description":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Description, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Details.BD_Description, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Description, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "WriterName":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_WriterName, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_WriterName, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_WriterName, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "ReleaseCount":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_ReleaseCount, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_ReleaseCount, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_ReleaseCount, "", new { @class = "text-danger" })
                            </div>
                            break;
                        case "Translator":
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details.BD_Translator, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.EditorFor(model => model.Details.BD_Translator, new { htmlAttributes = new { @class = "form-control text-center" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Details.BD_Translator, "", new { @class = "text-danger" })
                            </div>
                            break;


                        default:
                            break;
                    }
                }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                    <input  name='Tag' placeholder='برچسب'>
                </div>
                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="panel-footer form-footer ">
            <button class="btn btn-success  AddNewUser-button" type="submit" name="btn-BuildCode">تایید</button>
        </div>
    }
    <script>
        //CKEDITOR.replace('Details.BD_Abstract');

        var input = document.querySelector('input[name=Tag]'),
            tagify = new Tagify(input, {
                enforceWhitelist: false,
                whitelist: ["The Shawshank Redemption", "The Godfather", "The Godfather: Part II", "The Dark Knight", "12 Angry Men", "Schindler's List", "Pulp Fiction", "The Lord of the Rings: The Return of the King", "The Good, the Bad and the Ugly", "Fight Club", "The Lord of the Rings: The Fellowship of the Ring", "Star Wars: Episode V - The Empire Strikes Back", "Forrest Gump", "Inception", "The Lord of the Rings: The Two Towers", "One Flew Over the Cuckoo's Nest", "Goodfellas", "The Matrix", "Seven Samurai", "Star Wars: Episode IV - A New Hope", "City of God", "Se7en", "The Silence of the Lambs", "It's a Wonderful Life", "The Usual Suspects", "Life Is Beautiful", "Léon: The Professional", "Spirited Away", "Saving Private Ryan", "La La Land", "Once Upon a Time in the West", "American History X", "Interstellar", "Casablanca", "Psycho", "City Lights", "The Green Mile", "Raiders of the Lost Ark", "The Intouchables", "Modern Times", "Rear Window", "The Pianist", "The Departed", "Terminator 2: Judgment Day", "Back to the Future", "Whiplash", "Gladiator", "Memento", "Apocalypse Now", "The Prestige", "The Lion King", "Alien", "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb", "Sunset Boulevard", "The Great Dictator", "Cinema Paradiso", "The Lives of Others", "Paths of Glory", "Grave of the Fireflies", "Django Unchained", "The Shining", "WALL·E", "American Beauty", "The Dark Knight Rises", "Princess Mononoke", "Aliens", "Oldboy", "Once Upon a Time in America", "Citizen Kane", "Das Boot", "Witness for the Prosecution", "North by Northwest", "Vertigo", "Star Wars: Episode VI - Return of the Jedi", "Reservoir Dogs", "M", "Braveheart", "Amélie", "Requiem for a Dream", "A Clockwork Orange", "Taxi Driver", "Lawrence of Arabia", "Like Stars on Earth", "Double Indemnity", "To Kill a Mockingbird", "Eternal Sunshine of the Spotless Mind", "Toy Story 3", "Amadeus", "My Father and My Son", "Full Metal Jacket", "The Sting", "2001: A Space Odyssey", "Singin' in the Rain", "Bicycle Thieves", "Toy Story", "Dangal", "The Kid", "Inglourious Basterds", "Snatch", "Monty Python and the Holy Grail", "Hacksaw Ridge", "3 Idiots", "L.A. Confidential", "For a Few Dollars More", "Scarface", "Rashomon", "The Apartment", "The Hunt", "Good Will Hunting", "Indiana Jones and the Last Crusade", "A Separation", "Metropolis", "Yojimbo", "All About Eve", "Batman Begins", "Up", "Some Like It Hot", "The Treasure of the Sierra Madre", "Unforgiven", "Downfall", "Raging Bull", "The Third Man", "Die Hard", "Children of Heaven", "The Great Escape", "Heat", "Chinatown", "Inside Out", "Pan's Labyrinth", "Ikiru", "My Neighbor Totoro", "On the Waterfront", "Room", "Ran", "The Gold Rush", "The Secret in Their Eyes", "The Bridge on the River Kwai", "Blade Runner", "Mr. Smith Goes to Washington", "The Seventh Seal", "Howl's Moving Castle", "Lock, Stock and Two Smoking Barrels", "Judgment at Nuremberg", "Casino", "The Bandit", "Incendies", "A Beautiful Mind", "A Wednesday", "The General", "The Elephant Man", "Wild Strawberries", "Arrival", "V for Vendetta", "Warrior", "The Wolf of Wall Street", "Manchester by the Sea", "Sunrise", "The Passion of Joan of Arc", "Gran Torino", "Rang De Basanti", "Trainspotting", "Dial M for Murder", "The Big Lebowski", "The Deer Hunter", "Tokyo Story", "Gone with the Wind", "Fargo", "Finding Nemo", "The Sixth Sense", "The Thing", "Hera Pheri", "Cool Hand Luke", "Andaz Apna Apna", "Rebecca", "No Country for Old Men", "How to Train Your Dragon", "Munna Bhai M.B.B.S.", "Sholay", "Kill Bill: Vol. 1", "Into the Wild", "Mary and Max", "Gone Girl", "There Will Be Blood", "Come and See", "It Happened One Night", "Life of Brian", "Rush", "Hotel Rwanda", "Platoon", "Shutter Island", "Network", "The Wages of Fear", "Stand by Me", "Wild Tales", "In the Name of the Father", "Spotlight", "Star Wars: The Force Awakens", "The Nights of Cabiria", "The 400 Blows", "Butch Cassidy and the Sundance Kid", "Mad Max: Fury Road", "The Maltese Falcon", "12 Years a Slave", "Ben-Hur", "The Grand Budapest Hotel", "Persona", "Million Dollar Baby", "Amores Perros", "Jurassic Park", "The Princess Bride", "Hachi: A Dog's Tale", "Memories of Murder", "Stalker", "Nausicaä of the Valley of the Wind", "Drishyam", "The Truman Show", "The Grapes of Wrath", "Before Sunrise", "Touch of Evil", "Annie Hall", "The Message", "Rocky", "Gandhi", "Harry Potter and the Deathly Hallows: Part 2", "The Bourne Ultimatum", "Diabolique", "Donnie Darko", "Monsters, Inc.", "Prisoners", "8½", "The Terminator", "The Wizard of Oz", "Catch Me If You Can", "Groundhog Day", "Twelve Monkeys", "Zootopia", "La Haine", "Barry Lyndon", "Jaws", "The Best Years of Our Lives", "Infernal Affairs", "Udaan", "The Battle of Algiers", "Strangers on a Train", "Dog Day Afternoon", "Sin City", "Kind Hearts and Coronets", "Gangs of Wasseypur", "The Help"],
                callbacks: {
                    add: console.log,  // callback when adding a tag
                    remove: console.log   // callback when removing a tag
                },
                dropdown: {
                    classname: "color-blue",
                    enabled: 3,
                    maxItems: 5
                }
            }

            );



        $(function () {
            $("input[type='hidden']").remove();
        });
    </script>
</section>

