@model D_Library.Models.Model.UserListMoodel

@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">

    <div class="table-panel">
        <div class="table-heading  text-center ">
            <span>
                last
            </span>

        </div>
        <div class="panel-body table-body">
            <div>
                <span class="pull-left">

                </span>
                <a class="btn btn-success btn-group-lg table-btn-create  pull-right " href="@Url.Action("BuildRegisterCode", "Dashboard")">
                    <span class="glyphicon glyphicon-plus-sign pull-left"></span>
                    <span class="text-center">افزودن</span>
                </a>
            </div>




            <table class="table table-striped">

                <tr class="table-tr">
                    <th scope="col">#</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">نام</th>
                    <th scope="col">نام خانوادگی</th>
                    <th scope="col">موبایل</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">درجه</th>
                    <th scope="col"></th>


                </tr>

                @{
                    int x = 0;
                }

                @foreach (var item in Model.Users)
                {
                    x++;
                    <tr>
                        @{
                            var q = item.Tbl_Login.SingleOrDefault();
                        }
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span>@q.Login_UserName</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.User_Name)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.User_Family)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.User_Mobile)</span>
                        </td>
                        <td scope="row">
                            @{


                                if (q.Login_UserActive)
                                {
                                    <span>فعال</span>
                                }
                                else
                                {
                                    <span>غیر فعال</span>

                                }
                            }



                        </td>

                        <td scope="row">
                            <span>@q.Tbl_BaseRole.BaseRole_Titel</span>
                        </td>
                        <td scope="row" class="pull-right">
                            <a class="btn btn-primary btn-sm glyphicon glyphicon-file" href="@Url.Action("Show","Dashboard",new { id = item.User_ID})   "></a>
                            <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" href="@Url.Action("Edit","Dashboard", new { id = item.User_ID })"> </a>
                            <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" href="@Url.Action("Delete","Dashboard",new { id = item.User_ID})   "></a>
                        </td>
                    </tr>
                }


            </table>

        </div>
        <div class="panel-footer table-footer">
            <!--code for the pagination-->
            <div class="text-center">
                <ul class="pagination pagination-md table-footer-pagenumbers">
                    @if (Model.PageCount == 0)
                    {
                        Model.PageCount++;
                    }
                    @for (int i = 0; i < Model.PageCount; i++)
                    {

                        if (i + 1 == Model.CarentPage)
                        {
                            <li class="active"><a href="#">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li><a href="#">@(i + 1)</a></li>

                        }

                    }


                </ul>
            </div>
            <!--code for the pagination-->
        </div>
    </div>


</section>


