@model D_Library.Models.Model.UserMassageModel


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SanderID)

    @Html.HiddenFor(model => model.ResiverID)

    <div class="modal-main">

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control text-center" } })
            </div>
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Massage, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                @Html.EditorFor(model => model.Massage, new { htmlAttributes = new { @class = "form-control ckeditor" } })
            </div>
                @Html.ValidationMessageFor(model => model.Massage, "", new { @class = "text-danger" })
            </div>



        </div>

    <div class="">
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right " type="submit" name="btn-Delete">ارسال</button>

    </div>

}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Plugins/ckeditor/ckeditor.js"></script>