<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.rtl.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontiran.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Plugins/Chosen/chosen.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/MasterStyle.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Plugins/jQuery.Chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>





</head>
<body>
    <div class="wrapper">

        <header class="main-header container-fluid  navbar-fixed-top">

            <div class="row">

                <div class="col-md-3  navHeader">
                    <a href="#">سامانه کتابخانه دیجیتال</a>
                </div>
                <nav class="col-md-9  navbar navbar-inverse " style="border-radius:0;">


                    @Html.Partial("_NavCustomMune")

                </nav>
            </div>


        </header>


        <main>
            <div class="container-fluid divMain">
                <div class="row">
                    <aside class="col-md-3">
                        <ul class="navbar nav dashboard-panel">
                            <li>
                                <!--<div style="width: 90%; height: 90%;  border: 2px solid #6BA4D6 ;border-radius: 10%; margin: auto; margin-top: 10px; ">-->

                                <img src="~/Content/Images/arm.png" alt="Logo" class="img-responsive img-rounded img-logo">
                                <!--</div>-->
                                <a href="@Url.Action("Dashboard","Dashboard")">
                                    <i class="glyphicon glyphicon-dashboard  "></i>
                                    داشبورد

                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Search","Home")">
                                    <i class="glyphicon glyphicon-book"></i>
                                    جستجو کتاب

                                </a>
                            </li>


                            <li data-toggle="collapse" data-target="#sub-menu-file">

                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    مدیرت فایل
                                    <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>

                                </a>

                                <ul class="collapse nav dashboard-sub-panel " id="sub-menu-file">
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            فایل های شخصی
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            فایل عمومی
                                        </a>
                                    </li>


                                </ul>


                            <li data-toggle="collapse" data-target="#sub-menu-request">

                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    درخواست ها
                                    <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>

                                </a>

                                <ul class="collapse nav dashboard-sub-panel " id="sub-menu-request">
                                    <li>
                                        <a href="@Url.Action("RequestTypeSelector","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            بارگزاری
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            لیست درخواست ها
                                        </a>
                                    </li>


                                </ul>


                            </li>


                            <li data-toggle="collapse" data-target="#sub-menu-User">

                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    مدیرت کاربران
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>

                                </a>

                                <ul class="collapse nav dashboard-sub-panel " id="sub-menu-User">
                                    <li>
                                        <a href="@Url.Action("UsersList","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            لیست کاربران
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("UsersRegisterNotCompleteList","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            لیست عضویت های ناتمام
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("BuildRegisterCode","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            کاربر جدید
                                        </a>
                                    </li>

                                </ul>


                            </li>

                            <li data-toggle="collapse" data-target="#sub-menu-book">

                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    مدیرت کتاب ها
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>

                                </a>

                                <ul class="collapse nav dashboard-sub-panel " id="sub-menu-book">
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            لیست کتاب ها
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            کتاب جدید
                                        </a>
                                    </li>


                                </ul>


                            </li>


                            <li data-toggle="collapse" data-target="#sub-menu-Setting">
                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    تنظیمات سامانه
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </a>

                                <ul class="collapse nav dashboard-sub-panel " id="sub-menu-Setting">
                                    <li>
                                        <a href="@Url.Action("BookType","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            گروه ها
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("BaseRoleList","Dashboard")">
                                            <i class="glyphicon glyphicon-book"></i>
                                            نقش ها
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-book"></i>
                                            نتظیمات کلی
                                        </a>
                                    </li>

                                </ul>

                            </li>


                        </ul>
                    </aside>

                    @RenderBody()

                </div>
            </div>
        </main>

        @{


            <script src="~/Scripts/Plugins/jQuery.toast/toastrsample.js"></script>
            <script src="~/Scripts/Plugins/jQuery.toast/toastr.min.js"></script>
            <link href="~/Content/Plugins/toast/toastr.min.css" rel="stylesheet" />


            if (ViewBag.State != null)
            {


                <div class="control-group" id="toastrTypeGroup">
                    <div class="controls">
                        @{
                            string ck = "";
                            if (ViewBag.State == "Error")
                            {
                                ck = "checked";
                                <label class="radio">
                                    <input type="radio" style="visibility:hidden" checked="@ck" name="toasts" value="error" />
                                </label>
                            }
                            else
                            {
                                ck = "checked";
                                <label class="radio">
                                    <input type="radio" name="toasts" style="visibility:hidden" value="success" checked="@ck" />
                                </label>
                            }
                        }

                        @*<label class="radio">
                            <input type="radio" name="toasts" style="visibility:hidden" checked value="info" />
                        </label>
                        <label class="radio">
                            <input type="radio" name="toasts" style="visibility:hidden" checked value="warning" />
                        </label>*@

                    </div>
                </div>
                <br />
                <div class="control-group" id="toastrPositionGroup">
                    <div class="controls">

                        <label class="radio">
                            <input type="radio" style="visibility:hidden" checked name="positions" value="toast-bottom-left" />
                        </label>

                    </div>
                </div>
                <br />

                if (ViewBag.State == "Error")
                {
                    <button type="button" style="visibility:hidden" class="btn" id="showtoasterror"></button>
                    <script>
                        jQuery(function () {
                            jQuery('#showtoasterror').click();
                        });
                    </script>
                }
                else
                {
                    <button type="button" style="visibility:hidden" class="btn" id="showtoast"></button>
                    <script>
                        jQuery(function () {
                            jQuery('#showtoast').click();
                        });
                    </script>
                }
            }

        }

        <footer></footer>

    </div>
    <script>
        var config = {
            '.chosen-select': { no_results_text: 'موردی یافت نشده !', disable_search_threshold: 5, rtl: true },
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },

            '.chosen-select-width': { width: '100vh' }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>

</body>
</html>
