<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.rtl.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontiran.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Plugins/Chosen/chosen.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/JQuery.Filepond/filepond.css" rel="stylesheet" />

    <link href="~/Content/css/MasterStyle.css" rel="stylesheet" />
    <link href="~/Content/Plugins/MaterialDesignSwitch/MaterialDesignSwitch.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Plugins/jQuery.Chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/MyScripts/Chosen_Config.js"></script>
    @*<script src="~/Scripts/Plugins/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/JQuery.Filepond/filepond.js"></script>
    <script src="~/Scripts/Plugins/JQuery.Filepond/filepond.jquery.js"></script>





</head>
<body>
    <div class="wrapper">

        <header class="main-header container-fluid  navbar-fixed-top">

            <div class="row">

                <div class="col-md-3  navHeader">
                    <a href="#">سامانه کتابخانه دیجیتال</a>
                </div>
                <nav class="col-md-9  navbar navbar-inverse " style="border-radius:0;">


                    @Html.Partial("_NavCustomMune")

                </nav>
            </div>


        </header>


        <main>
            <div class="container-fluid divMain">
                <div class="row">

                    <aside class="col-md-3">
                        @Html.Partial("_AsideMenu")
                    </aside>

                        @RenderBody()

                </div>
            </div>
        </main>

        @{


            <script src="~/Scripts/Plugins/jQuery.toast/toastrsample.js"></script>
            <script src="~/Scripts/Plugins/jQuery.toast/toastr.min.js"></script>
            <link href="~/Content/Plugins/toast/toastr.min.css" rel="stylesheet" />


            if (ViewBag.State != null)
            {


                <div class="control-group" id="toastrTypeGroup">
                    <div class="controls">
                        @{
                            string ck = "";
                            if (ViewBag.State == "Error")
                            {
                                ck = "checked";
                                <label class="radio">
                                    <input type="radio" style="visibility:hidden" checked="@ck" name="toasts" value="error" />
                                </label>
                            }
                            else
                            {
                                ck = "checked";
                                <label class="radio">
                                    <input type="radio" name="toasts" style="visibility:hidden" value="success" checked="@ck" />
                                </label>
                            }
                        }

                        @*<label class="radio">
                                <input type="radio" name="toasts" style="visibility:hidden" checked value="info" />
                            </label>
                            <label class="radio">
                                <input type="radio" name="toasts" style="visibility:hidden" checked value="warning" />
                            </label>*@

                    </div>
                </div>
                <br />
                <div class="control-group" id="toastrPositionGroup">
                    <div class="controls">

                        <label class="radio">
                            <input type="radio" style="visibility:hidden" checked name="positions" value="toast-bottom-left" />
                        </label>

                    </div>
                </div>
                <br />

                if (ViewBag.State == "Error")
                {
                    <button type="button" style="visibility:hidden" class="btn" id="showtoasterror"></button>
                    <script>
                        jQuery(function () {
                            jQuery('#showtoasterror').click();
                        });
                    </script>
                }
                else
                {
                    <button type="button" style="visibility:hidden" class="btn" id="showtoast"></button>
                    <script>
                        jQuery(function () {
                            jQuery('#showtoast').click();
                        });
                    </script>
                }
            }

        }

        <footer></footer>

    </div>

    @RenderSection("Modal", false)

</body>
</html>
