@model D_Library.Models.Model.BookTypeAddModel
@using D_Library.Models.Repository
@{
    ViewBag.Title = "BookTypeAdd";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">
    @using (Html.BeginForm("BookTypeAdd", "Setting", FormMethod.Post, htmlAttributes: new { @class = "panel-info form-newbooktype form-form form-form-indasdboard", @style = "" }))
    {

        @Html.AntiForgeryToken()
        <div class=" form-heading  text-center">
            تعریف زیر گروه کتاب
        </div>

        <div class="panel-body">
            @{
                Rep_Book _book = new Rep_Book();

            }


            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })

                @Html.DropDownListFor(model => model.Category, _book.Get_BookCategorySelectList(), new { @class = " Select2_Normal form-control" })

            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.TypeName, htmlAttributes: new { @class = "" })
                <div class="input-group">
                    <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control text-center" } })
                </div>
                @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group ">
                <label>نام گروه</label>
                <div class="row">
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.from, _book.Get_BookDetailsAllSelectList(), htmlAttributes: new { id = "multiselect", size = "8", multiple = "multiple", @class = "form-control" })

                    </div>

                    <div class="col-md-2 ">
                        <div class="row btn-regin-md">
                            <div class="col-md-6">
                                <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                <br />
                                <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                <br />
                                <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class=" glyphicon glyphicon-backward"></i></button>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
                    </div>
                </div>
            </div>

        </div>


        <button class="btn btn-success  AddNewUser-button" type="submit" name="btn-BuildCode">تایید</button>

    }
</section>

<script src="~/Scripts/Plugins/jQuery.multiselect/multiselect.min.js"></script>
<script src="~/Scripts/Plugins/jQuery.slimscroll/jquery.slimscroll.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#multiselect').multiselect();
    });

</script>

