@model IEnumerable<D_Library.Models.Domins.Tbl_branch>

@{
    ViewBag.Title = "BranchList";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">

    <div class="table-panel booktypeteble-panel">
        <div class="table-heading  text-center ">
            <span>
                رشته ها
            </span>

        </div>
        <div class="panel-body table-body">
            <table id="BookTypeList" class="table table-striped table-table" style="width:100%;">
                <thead>
                    <tr class="table-tr">
                        <th scope="col" width="20px">#</th>
                        <th scope="col">گروه</th>
                        <th scope="col">رشته</th>
                        <th scope="col" data-orderable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int x = 0;
                    }

                    @foreach (var item in Model)
                    {
                        x++;
                        <tr>
                            <td scope="row">@x</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tbl_Group.Group_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.branch_Name)
                            </td>
                            <td scope="row" class="pull-right">
                                <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" onclick="BranchEdit(@item.branch_ID)"> </a>
                                @*<a class="btn btn-danger btn-sm glyphicon glyphicon-trash" href="@Url.Action("Delete","Dashboard",new { id = item.branch_ID })   "></a>*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</section>




@Html.Partial("_Modal")

<script>
    $(document).ready(function () {
        $('#BookTypeList').DataTable({
            "language": {
                "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "_MENU_",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "",
                "sSearchPlaceholder":"جستجو",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                    "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                    "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
            },
            "scrollX": true


        });
    });

    $(function () {
        var element1 = document.getElementById('BookTypeList_filter').parentElement;
        var element2 = document.getElementById('BookTypeList_length').parentElement;
        element1.classList.remove('col-sm-6');
        element2.classList.remove('col-sm-6');

        element1.classList.add('col-md-6');
        element2.classList.add('col-md-3');

        var element3 = element2.parentElement;

        var addbtn = $('<div class="col-md-3"><a class="btn btn-success btn-group-lg table-btn-create  pull-right " onclick="BranchCreate()" ><span class="glyphicon glyphicon-plus-sign pull-left"></span><span class="text-center">افزودن</span></a></div>');
        addbtn.appendTo(element3)
    });


</script>


@section Modal{
    <script>


        function BranchCreate() {
            $.ajax({
                url: "/Setting/BranchAdd",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('تعریف رشته');
                $('#myModalBody').html(result);
                
            });
        }
        function BranchEdit(id) {
            $.ajax({
                url: "/Setting/BranchEdit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش رشته');
                $('#myModalBody').html(result);
            });
        }
    </script>
}