
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section class="col-md-9 container-fluid main-section">
    <div class="text-center">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;">
                <span style="font-size: 18px; font-weight:bold;">تنظیمات</span>
            </div>



        </div>
    </div>


    <div class="panel bookshow-panel">
        <ul class=" nav nav-tabs nav-justified bookshow-panel-tabs">
            <li class="active"><a href="#General" data-toggle="tab">عمومی</a></li>
            <li><a href="#Book" data-toggle="tab">کتاب ها</a></li>
            <li><a href="#Users" data-toggle="tab">کاربران</a></li>
            <li><a href="#Network" data-toggle="tab">شبکه</a></li>
            <li><a href="#Server" data-toggle="tab">سرور</a></li>
        </ul>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="General">

                    <a href="@Url.Action("LibraryList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                محل کتابخانه
                            </span>
                        </div>
                    </a>

                </div>

                <div class="tab-pane fade" id="Book">
                    <a href="@Url.Action("BookTypeList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                گروه ها
                            </span>
                        </div>
                    </a>

                    <a href="@Url.Action("LanguageList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                زبان
                            </span>
                        </div>
                    </a>

                </div>
                <div class="tab-pane fade" id="Users">
                    <a href="@Url.Action("BaseRoleList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                نقش ها
                            </span>
                        </div>
                    </a>

                    <a href="@Url.Action("GroupList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                گروه ها
                            </span>
                        </div>
                    </a>

                    <a href="@Url.Action("BranchList","Setting")">
                        <div class="panel setting-detiles-col-9">
                            <span class="">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                رشته ها
                            </span>
                        </div>
                    </a>

                </div>
                <div class="tab-pane fade" id="Network">

                </div>
                <div class="tab-pane fade" id="Server">

                </div>
            </div>
        </div>

    </div>




</section>

