@model D_Library.Models.Model.TagAddModel


@using (Html.BeginForm("TagEdit", "Setting", FormMethod.Post, htmlAttributes: new { @class = "", @style = "" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    <div class="modal-main">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center" } })
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>


    </div>

    <button class="btn btn-success modal-btn-singel" type="submit" name="btn-BuildCode">تایید</button>

}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
