@model D_Library.Models.Model.UsersRegisterNotCompleteListModel
@using D_Library.Models.Repository
@using D_Library.Models.Plugins

@{
    ViewBag.Title = "UsersRegisterNotCompleteList";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<section class="col-md-9 container-fluid main-section">
    <div class="table-panel userlisttable-panel">
        <div class="table-heading  text-center ">
            <span>
                لیست کاربران
            </span>
        </div>
        <div class="panel-body table-body">
            <table id="UserListTable" class="table table-striped " style="width:100%;">
                <thead>
                    <tr class="table-tr">
                        <th scope="col">#</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">درجه</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">تاریخ انقضا</th>
                        <th scope="col">کد ثبت نام</th>
                        <th scope="col" data-orderable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int x = 0;
                        Rep_UsersRegisterNotCompleteList ur = new Rep_UsersRegisterNotCompleteList();

                    }

                    @foreach (var item in ur.GetList())
                    {
                        x++;
                        <tr>

                            <td scope="row">@x</td>
                            <td scope="row">
                                <span>@item.Username</span>
                            </td>
                            <td scope="row">
                                <span>@item.Role</span>
                            </td>
                            <td scope="row">

                                @{
                                    if (@item.Is_Expiry)
                                    {
                                        <span>فعال</span>
                                    }
                                    else
                                    {
                                        <span>غیر فعال</span>
                                    }
                                }

                            </td>
                            <td scope="row">
                                <span> @PersianDateExtensionMethods.ToPeString(item.Expiry_Time, "yyyy/MM/dd")</span>

                            </td>
                            <td scope="row">
                                <span>@item.Code</span>
                            </td>
                            <td scope="row" class="pull-right">
                                <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" onclick="RegisterDelete(@item.ID)"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@Html.Partial("_Modal")
<script>
    $(document).ready(function () {
        $('#UserListTable').DataTable({
            "language": {

                "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "_MENU_",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "",
                "sSearchPlaceholder":"جستجو",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                    "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                    "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
            },
            "scrollX": true
        });
    });

    $(function () {
        var element1 = document.getElementById('UserListTable_filter').parentElement;
        var element2 = document.getElementById('UserListTable_length').parentElement;
        element1.classList.remove('col-sm-6');
        element2.classList.remove('col-sm-6');

        element1.classList.add('col-md-6');
        element2.classList.add('col-md-3');

        var element3 = element2.parentElement;

        var addbtn = $('<div class="col-md-3"><a class="btn btn-success btn-group-lg table-btn-create  pull-right " href="@Url.Action("RegisterCodeBuilder", "User")"><span class="glyphicon glyphicon-plus-sign pull-left"></span><span class="text-center">افزودن</span></a></div>');
        addbtn.appendTo(element3)
    });

</script>

@section Modal{
    <script>

        function RegisterDelete(id) {
            $.ajax({
                url: "/User/RegisterCodeDelete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حذف');
                $('#myModalBody').html(result);
            });
        }
    </script>
}